# Data Cleaning Process

<span style="background: transparent; margin-top: 0pt; margin-bottom: 0pt;" data-preserver-spaces="true">Before we start our analysis on the Employees Churn Dataset, we will need to perform a few data cleaning steps to prepare our dataset.&nbsp;</span> 

<span style="background: transparent; margin-top: 0pt; margin-bottom: 0pt;" data-preserver-spaces="true"><br></span>

- <span style="background: transparent; margin-top: 0pt; margin-bottom: 0pt;" data-preserver-spaces="true">Refer to the data dictionary for more details.</span>

## 

1. <span style="background: transparent; margin-top: 0pt; margin-bottom: 0pt;" data-preserver-spaces="true">Checking our Dataset</span>

<span style="background: transparent; margin-top: 0pt; margin-bottom: 0pt;" data-preserver-spaces="true">First, let's look at our dataset to see what kind of preparation is needed before our analysis. It seems that we will need to change some columns to the appropriate data type.&nbsp;</span>

In [2]:
--Selecting first 5 rows
SELECT TOP(5) *
FROM [dbo].[employee_churn_data]

-- Checking data types
SELECT COLUMN_NAME, DATA_TYPE 
FROM information_schema.columns

department,promoted,review,projects,salary,tenure,satisfaction,bonus,avg_hrs_month,left
operations,0,0.5775686596355698,3,low,5.0,0.6267589740293295,0,180.8660696668475,no
operations,0,0.7518996607137884,3,medium,6.0,0.4436789547574034,0,182.7081489616225,no
support,0,0.7225484486077993,3,medium,6.0,0.4468232240377964,0,184.4160840365652,no
logistics,0,0.6751583086657402,4,high,8.0,0.4401387461171622,0,188.7075447757313,no
sales,0,0.676203174778892,3,high,5.0,0.5776074456916579,1,179.82108327312108,no

COLUMN_NAME,DATA_TYPE
department,varchar
promoted,varchar
review,varchar
projects,varchar
salary,varchar
tenure,varchar
satisfaction,varchar
bonus,varchar
avg_hrs_month,varchar
left,varchar

## 2\. Changing Data Types

We will change the columns "review" and "avg\_hrs\_month"  from string to _float_, "projects", "promoted", "tenure", and "bonus" from string to _integer._ By changing the data types, it will be easier to perform calculations and to create data visualizations.

In [6]:
ALTER TABLE [dbo].[employee_churn_data]
ALTER COLUMN review FLOAT

ALTER TABLE [dbo].[employee_churn_data]
ALTER COLUMN avg_hrs_month FLOAT

ALTER TABLE [dbo].[employee_churn_data]
ALTER COLUMN projects INT 

ALTER TABLE [dbo].[employee_churn_data]
ALTER COLUMN tenure INT 

ALTER TABLE [dbo].[employee_churn_data]
ALTER COLUMN promoted INT 

ALTER TABLE [dbo].[employee_churn_data]
ALTER COLUMN bonus INT

## 3\. Checking Data Types

In [7]:
-- Checking data types
SELECT COLUMN_NAME, DATA_TYPE 
FROM information_schema.columns

COLUMN_NAME,DATA_TYPE
department,varchar
promoted,int
review,float
projects,int
salary,varchar
tenure,int
satisfaction,varchar
bonus,int
avg_hrs_month,float
left,varchar